{% for menu_item in menu_items %}
    <li>{% if item.pk == menu_item.pk %}<u>{% endif %}
        <a href="{{ menu_item.pk }}">{{ menu_item.title }}</a>
        {% if item.pk == menu_item.pk %}</u>{% endif %}
        {% if menu_item.has_children and item.root == menu_item.root or menu_item.parent %}
            {% if level >= menu_item.level %}
            <ul>
            {% include 'recurse.html' with menu_items=menu_item.children.all %}
            </ul>
    </li>
            {% endif %}
        {% endif %}
{% endfor %}
